* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    background: #fff;
}

span {
    color: #DB0649;
    font-weight: 800;
}

/* nav bar start */
 .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
    }
 .logo-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: 800;
 }

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
/*                                     nav bar end                               */

/*                                  hero-section start                      */
#hero{
    width: 100%;
    height: 805px;
    background: linear-gradient(0deg, rgba(37,29,29,0.60), rgba(37,29,29,0.60)), url(../images/Cnoc-Mhuire-Renmore-1-1030x687.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 32px;
}

.hero-container{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-box {
    width: 50%;
    margin-top: 200px;

}

.hero-box .hero-heading {
    color: #fff;
    font-size: 35px;
    line-height: 65px;
    font-family: "roboto", sans-serif;
    text-transform: capitalize;
}

.hero-box .hero-desc {
    color: #fff;
    line-height: 27px;
    font-size: 18px;
    padding: 30px 0;
}

.hero-box .quote-box{
    margin-top: 60px;
}

.hero-box .cta-button{
    background: #DB0649;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    
}
.hero-box .cta-button:hover {
    border: 2px solid #DB0649;
    background: transparent;
    transform: scale(1.1);
    color: #fff;
}
/*                                          hero end                                   */

/*                                          Gallery start                          */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;
}

.gallery img {
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 10px 0;
}
/*                               Gallery end                           */

/*                               contact form start                  */
.form {
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
    padding-left: 20px;
}

.form-image img {
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}

.form h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: #DB0649;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px; 
}

.contact-form form .btn:hover{
    border: 2px solid #DB0649;
    background: transparent;
    transform: scale(1.1);
}

/*                      contact form end                             */



/*                         footer start                    */
.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer ul {
    list-style-type: none;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #333;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 19px;
    color: #bebebe;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
     
}

.footer li {
    font-size: 15px;
    color: #bebebe;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
    display: block;
}

.footer-col h4::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 15px;
    color: #bebebe;
    text-decoration: none;
    font-weight: 300;
    display: block;

}

.footer-col h4, li:hover {
    color: #fff;
}

.footer-col a:hover {
    color: #fff;
}

.footer-col .social-links a{
    display: inline-block; /*not displaying correctly */
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.social-links ul{
    display: flex;
}
.footer-col .social-links a:hover {
    color: #fff;
}

/*                         footer end                    */

/*                         media quires start                    */

@media(max-width:820px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .hero-box .hero-heading {
        font-size: 38px;
        line-height: 32px;
        
    }
    .hero-box .hero-desc {
        
        line-height: 27px;
        font-size: 18px;
        padding: 20px 0;
    }

    .hero-box {
        width: 75%;
        margin-top: 200px;
        padding: 0 10px 0 10px;
    
    }

    .form-image img {
        /* needs styling */

    }

    .contact-form {
        padding: 15px 0 15px 40px;
    }
}
@media(max-width: 574px){
    
    .quote-box{
        text-align: center;
    }

    .footer{
        text-align: center;
    }
    
    .footer-col h4::before {
        display: none;
    }

    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }

    .hero-box .hero-heading {
        font-size: 38px;
        line-height: 32px;
        text-align: center;
    }


    .hero-box .hero-desc {
        
        line-height: 27px;
        font-size: 18px;
        padding: 20px 0;
        text-align: center;
        
    }

    .hero-box {
        width: 100%;
        margin-top: 200px;
        padding: 0 10px 0 10px;
    
    }

    .form-image img {
        display: none;
    }
    
    
    .form, form {
        text-align:center;
    }


}

/*                         media end                   */