* {
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 200px;
    flex-basis: 200px;
    flex-grow: 1;

}

.col1 {
 background-color: red;

}

.col2 {
    background-color: blue;  
    
}
.col3 {
    background-color: green;

}