* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    background: #fff;
}

 .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
    }
 .logo-title {
    font-size: 1.5rem;
    margin: .5rem;
 }

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* hero-section start */
#hero{
    width: 100%;
    height: 805px;
    background: linear-gradient(0deg, rgba(37,29,29,0.44), rgba(37,29,29,0.44)), url(/assets/images/Cnoc-Mhuire-Renmore-1-1030x687.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 32px;
}

.hero-container{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-box {
    width: 50%;
    margin-top: 200px;

}

.hero-box .hero-heading {
    color: #fff;
    font-size: 35px;
    line-height: 65px;
    font-family: "roboto", sans-serif;
    text-transform: capitalize;
}

.hero-box .hero-desc {
    color: #fff;
    line-height: 27px;
    font-size: 18px;
    padding: 30px 0;
}

.hero-box .quote-box{
    margin-top: 60px;
}

.hero-box .cta-button{
    background: #fff;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    color: #2e2c2c;
    text-decoration: none;
    
}
.hero-box .cta-button:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* Gallery start*/
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;
}

.gallery img {
    flex-wrap: wrap;
    width: 320px;
    height: 300px;
    margin: 10px 0;
}
/* Gallery end */
.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/images/Cnoc-Mhuire-Renmore-1-1030x687.jpg");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    
    
}

.text {
    font-size: 1.4rem;
    text-align: center;
    color: #d3d3d3;
    
    text-shadow: 0 1px 0 black;
}
    
hr {
    border: 1px solid black;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer ul {
    list-style-type: none;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #333;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 19px;
    color: #bebebe;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
     
}

.footer li {
    font-size: 15px;
    color: #bebebe;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
    display: block;
}

.footer-col h4::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 15px;
    color: #bebebe;
    text-decoration: none;
    font-weight: 300;
    display: block;

}

.footer-col h4, li:hover {
    color: #fff;
}

.footer-col a:hover {
    color: #fff;
}

.footer-col .social-links a{
    display: inline-block; /*not displaying correctly */
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    background-color: red;
    border-radius: 50%;
}

.footer-col .social-links a:hover {
    color: #fff;
}


@media(max-width:768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .hero-box .hero-heading {
        font-size: 38px;
        line-height: 32px;
        
    }
    .hero-box .hero-desc {
        
        line-height: 27px;
        font-size: 18px;
        padding: 20px 0;
    }

    .hero-box {
        width: 75%;
        margin-top: 200px;
        padding: 0 10px 0 10px;
    
    }

}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }

    .hero-box .hero-heading {
        font-size: 38px;
        line-height: 32px;
        
    }


    .hero-box .hero-desc {
        
        line-height: 27px;
        font-size: 18px;
        padding: 20px 0;
    }

    .hero-box {
        width: 100%;
        margin-top: 200px;
        padding: 0 10px 0 10px;
    
    }
}